{{#each player}}


<div class="jumbotronH" id="doSomething">
    <h1id="heroName" class="display-4">
        </h1>
        <a class="btn btn-primary btn-lg" id="statsBtnB" data-player="{{player_id}}" data-name="{{player_name}}" data-am="{{attackMed}}"
            data-al="{{attackLight}}" data-ah="{{attackHeavy}}" data-nl="{{numLight}}" data-nm="{{numMed}}" data-nh="{{numHeavy}}"
            data-gp="{{gp}}" data-health="{{health}}" href="#" role="button">Click here to power up</a>
        <p class="lead" id="healthDis">Health: </p>
        <hr class="my-4">
        <p id="lightDis">Number of light attacks left:</p>
        <p id="medDis">Number of medium attacks left:</p>
        <p id="heavyDis">Number of heavy attacks left:</p>
        <p id="moneyDis">Money:</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" id="lightBtn" href="#" role="button">Light Attack</a>
            <a class="btn btn-primary btn-lg" id="medBtn" href="#" role="button">Medium Attack</a>
            <a class="btn btn-primary btn-lg" id="heavyBtn" href="#" role="button">Heavy Attack</a>
        </p>
        {{/each}}
</div>


<div class="jumbotronE" id="doSomething2">
    <h1 class="display-4" id="villanName"></h1>
    <p class="lead" id="vhealthDis">Health:</p>

    </p>
</div>




{{!--
<script>
    $(document).ready(function () {

        // hero display
        $("#heroName").append(hero.saltySamuel.name);
        $("#healthDis").append(hero.saltySamuel.health);
        $("#lightDis").append(hero.saltySamuel.numLight);
        $("#medDis").append(hero.saltySamuel.numMed);
        $("#heavyDis").append(hero.saltySamuel.numHeavy);
        $("#moneyDis").append(hero.saltySamuel.money);


        $("#lightBtn").on("click", function () {
            hero.saltySamuel.attackL(villan.jade);
            hero.saltySamuel.minusAttacklight();
            hero.saltySamuel.numAttacksLight();
            villan.jade.enemyAttack(hero.saltySamuel);
            $("#healthDis").text("health: " + hero.saltySamuel.health)
            $("#lightDis").text("Number of light attacks left: " + hero.saltySamuel.numLight);
            $("#vhealthDis").text("health: " + villan.jade.health);
            villan.jade.isAliveV(hero.saltySamuel)
            hero.saltySamuel.isAlive();
            console.log("---------", hero.saltySamuel);
        });

        $("#medBtn").on("click", function () {
            hero.saltySamuel.attackM(villan.jade);
            hero.saltySamuel.minusAttackMed();
            hero.saltySamuel.numAttacksMed();
            villan.jade.enemyAttack(hero.saltySamuel);
            $("#healthDis").text("health: " + hero.saltySamuel.health);
            console.log("Hero-----", hero.saltySamuel)
            $("#medDis").text("Number of Medium attacks left: " + hero.saltySamuel.numMed);
            $("#vhealthDis").text("health: " + villan.jade.health);
            villan.jade.isAliveV(hero.saltySamuel)
            hero.saltySamuel.isAlive();
            console.log("---------", hero.saltySamuel);
        });

        $("#heavyBtn").on("click", function () {
            hero.saltySamuel.minusAttackHeavy();
            hero.saltySamuel.numAttacksHeavy();
            hero.saltySamuel.attackH(villan.jade);
            villan.jade.enemyAttack(hero.saltySamuel);
            $("#healthDis").text("health: " + hero.saltySamuel.health)
            $("#heavyDis").text("Number of Heavy attacks left: " + hero.saltySamuel.numHeavy);
            $("#vhealthDis").text("health: " + villan.jade.health);
            villan.jade.isAliveV(hero.saltySamuel)
            hero.saltySamuel.isAlive();
            console.log("---------", hero.saltySamuel);
        });

        //villan display
        $("#villanName").text(villan.jade.name);
        $("#vhealthDis").append(villan.jade.health)
    });
</script> --}}